<!doctype html>
<html lang="en">

<head>
    <title>Weather</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
                <lable>Want To Know The Weather ?
                    <input name="city" type="text" class="weather-input" placeholder="Enter a Location Please" required>
                </lable>
                <input type="submit" class="weather-button" value="Click To Find">
            </form>
        </fieldset>
        <%if( weather !== null){ %>
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                        Location
                  </div>
                  <div class="col">
                    Temperature
                  </div>
                  <div class="col">
                    Weather Condition
                  </div>
                  <div class="col">
                    Cloud coverage
                  </div>
                  <div class="col">
                    Humidity
                  </div>                  
                </div>
                <div class="row">
                    <div class="col">
                        <%= place %>
                    </div>                      
                    <div class="col">
                        <%= temp %>°C / <%= fahrenheit %>°F
                    </div>
                    <div class="col">
                        <%= condition %>
                    </div>
                    <div class="col">
                        <%= clouds %> %
                    </div>
                    <div class="col">
                        <%= humidity %> %
                    </div>
                  
                  </div>
            </div>

            <% } %>

                <% if(error !== null){ %>
                    <p>
                        <%= error %>
                    </p>
                 <% } %>

    </div>

                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>